.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.column {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #e74c3c;
}
